.toast {
  position: absolute;
  top: 82vh;
  right: 20px;
  background-color: #4CAF50;
  color: white;
  padding-inline: 24px;
  padding-block: 6px;
  border-radius: 4px;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.toast.show {
  opacity: 1;
}
