.template-list {
  display: flex;
  flex-wrap: wrap;
}

.template-card {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  text-decoration: none;
  color: #000;
  transition: background-color 0.2s ease;
}

.template-card:hover {
  background-color: #e0e0e0;
}

.template-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

/* .template-status{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    padding: 0 6px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 600;
    color: #e0e0e0;
   text-transform: capitalize;
   pointer-events: none;
  } */
.template-status {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  padding: 8px;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}

.template-dropdown {
  position: relative;
  display: inline-block;
  border: none;
  margin-top: 30px;

}

/* Styles for dropdown options */
.template-status option {
  font-weight: normal;
  background-color: #fff;
  color: #333;
}

/* Example styles for the selected option */
.template-status option:checked {
  font-weight: bold;
  background-color: #7272aa;

}

.template-status option {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 16px;
  font-size: 10px;
  font-weight: bold;
  text-transform: capitalize;
  background-color: #eaf1f1;
  margin: 20px;
}


.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.mx-3 {
  margin-inline: 8px;
}