.sidebar {
  position: absolute;
  right: 0;
  top: 70px;
  min-width: 200px;
  border: 1px solid #b5b5b5;
  box-sizing: border-box;
  background-color: #322d31;
  max-height: calc(100vh - 70px);
  overflow-y: scroll;
  z-index: 200;
}
.elements {
  box-sizing: border-box;
  font-size: 19px;
  border-bottom: 1px solid #b5b5b5;
  min-width: 200px;
  padding-block: 8px;
  padding-left: 15px;
  color: antiquewhite;
  font-weight: 500;
  display: flex;
  gap: 5px;
  padding-inline: 1rem;
  cursor: pointer;
}
.elements:hover {
  background-color: beige;
  color: black;
}
.remove_btn {
  align-self: center;
  background-color: transparent;
  margin: auto;
  color: rgb(233, 89, 45);
  font-weight: 800;
  border: none;
  cursor: pointer;
}
.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.label_input_container {
  min-width: 350px;
  padding-inline: 1rem;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;
}
.highlighted_element_details {
  text-align: center;
  min-width: 190px;
  margin-top: 10px;
}
.highlighted_element_details > *:not(h5) {
  margin-top: -20px;
}
.single_detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  position: relative;
}
.class_container {
  display: flex;
  width: 180px;
  overflow: hidden;
  height: 1.37rem;
  background-color: antiquewhite;
  border-radius: 3px;
  cursor: pointer;
}
.hide_class_container {
  display: none;
}
.full_class_modal {
  position: absolute;
  display: none;
  min-width: 300px;
  min-height: 100px;
  right: 0;
  bottom: 0;
  background-color: antiquewhite;
  border-radius: 5px;
  padding-inline: 10px;
  padding-top: 35px;
  padding-bottom: 15px;
  line-height: 1.25rem;
}
.close_btn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 10px;
  cursor: pointer;
}
.show_class_modal {
  display: block;
}
.single_detail strong {
  background-color: antiquewhite;
  color: #322d31;
  padding-inline: 5px;
  padding-block: 2px;
  border-radius: 3px;
}
.inputElementContainer{
  position: relative;
}
.inputDropdown{
  position: absolute;
  left:2px;
  top:35px;
  z-index: 1001;
  border:1px solid antiquewhite;
  background-color: #322d31;
  max-height: 150px;
  overflow: auto;
}

.inputDropdown::-webkit-scrollbar {
  width: 6px;
}

.inputDropdown::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.inputDropdown::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

.inputDropdown::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.inputOptions{
  border:1px solid antiquewhite;
  width:188px;
  padding-block: 6px;
  font-size: .8rem;
  padding-inline: 10px;
  box-sizing: border-box;
}
.inputOptions:hover{
  background-color: antiquewhite;
  color:#322d31;
}
.detail_row {
  display: flex;
  align-items: center;
  gap: 2rem;
  min-width: 300px;
}
.single_row_detail {
  min-width: 140px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.labelling_block > *:not(h4) {
  margin-top: -5px;
}
.labelling_block input {
  height: 35px;
  width:200px;
  border-radius: 3px;
  padding-inline: 10px;
  box-sizing: border-box;
  font-weight: 600;
  outline: none;
  background-color: rgba(247, 245, 242, 0.986);
}
.label_btns {
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-around;
}
.label_btn {
  background-color: antiquewhite;
  font-size: 1rem;
  color: #322d31;
  font-weight: 600;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.save_progress_btn {
  background-color: rgba(247, 245, 242, 0.986);
  width: 100%;
  margin-top: 1.5rem !important;
}
.addtoqueuecontainer{
  display: flex;
  justify-content: center;
}
.add_to_queue_btn {
  background-color: rgba(247, 245, 242, 0.986);
  width: 80%;
  margin-top: 1.5rem !important;
}
.delete_bb_btn{
  background-color: rgba(224, 74, 36, 0.986);
  color: antiquewhite;
  width: 100%;
}
.layoutFilterToggle{
  color: antiquewhite;
  border:none;
  box-shadow: none;
  border-radius: 3px;
  padding-block:8px;
  cursor: pointer;
  padding-inline: 20px;
}
.toggleLayoutFiltersApply{
  background-color: rgba(247, 91, 64, 0.432);
}
.toggleLayoutFiltersRemove{
  background-color: rgba(125, 248, 77, 0.384);
}
.layoutToggleContainer{
  margin-block: 15px;
  display: flex;
  justify-content: center;
}
.disabledClassInput{
  background-color: #a09c9c !important;
}